<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Popup</title>
		<link rel="stylesheet" href="../css/popup.css" />
		<script src="../libs/free.js"></script>
		<script src="../js/popup.js" type="module"></script>
	</head>
	<body>
		<div id="plugins" class="plugins"></div>

		<template id="tmp_plugin">
			<div class="plugin">
				<div class="state"></div>
				<div class="name" data-name></div>
			</div>
		</template>
	</body>
</html>
